@page "/squaresgame"

@using SquaresBlazorGame.Data;
@using SquaresBlazorGame.Models;

<style type="text/css">
/*    td {
        width: 175px;
        height: 175px;
        border-style: dotted;
        font-size: x-large;
        text-align: center;
    }
*/
    .row {
        display: flex;
        margin-left: 15px;
    }

    .horizContainer {
        height: 4px;
        width: 25px;
        border: 3px;
    }

    .vertContainer {
        height: 25px;
        width: 4px;
        border: 2px;
    }

    .dot {
        height: 4px;
        width: 4px;
        background-color: black;
    }

    .box {
        height: 25px;
        width: 25px;
    }

    div {
        display: block;
    }
</style>

<h3>Squares Game</h3>

<div id="game-board">
    @if (gameEngine.GameBoard != null)
    {
        <div style="font-size: 13px; width: 90px; height: 5px; margin-bottom: 35px;">
            <button id="btnNewGame" class="btnNewGame" @onclick="NewGame">New Game</button>
        </div>

        <div style="font-size:14px; margin-bottom:10px;">
            <span>@gameEngine.GameStatusForDisplay</span>
        </div>

        @if (gameEngine.GameBoard.GameStatus == Enums.GameStatus.Game_Over)
        {
            <div style="font-size:14px; margin-bottom:12px;">
                <span>@gameEngine.GameResultForDisplay</span>
            </div>
        }

        <div style="font-size:13px; margin-bottom:25px;">
            Player 1: <span>@gameEngine.GameBoard.Player1BoxesFilled</span> V
            Player 2: <span>@gameEngine.GameBoard.Player2BoxesFilled</span>
        </div>

        @for (int rowIndex = 0; rowIndex < gameEngine.GameBoard.Game.NumberOfRows; rowIndex++) //Taken from https://codepen.io/dbuzinski/pen/JZrZbJ
        {
            int x = rowIndex;
            <div class="row">
                @for (int colIndex = 0; colIndex < gameEngine.GameBoard.Game.NumberOfColumns; colIndex++)
                {
                    int y = colIndex;

                    <div class="dot" id="@DotID(x, y)"></div>
                    @if (colIndex < gameEngine.GameBoard.Game.NumberOfColumns - 1)
                    {
                        <div class="horizContainer" data-coord="0,@x,@y" style="background-color: @gameEngine.GameBoard.Lines[gameEngine.HorizontalLineDirection, x, y].GameColour" @onclick="@(() => LineClicked(gameEngine.GameBoard.Lines[gameEngine.HorizontalLineDirection, x, y]))" @onmouseover="@(() => LineMouseAction(gameEngine.GameBoard.Lines[gameEngine.HorizontalLineDirection, x, y], true))" @onmouseout="@(() => LineMouseAction(gameEngine.GameBoard.Lines[gameEngine.HorizontalLineDirection, x, y], false))"></div>
                    }
                }
            </div>
            @if (rowIndex < gameEngine.GameBoard.Game.NumberOfRows - 1)
            {
                <div class="row">
                    @for (int colIndex = 0; colIndex < gameEngine.GameBoard.Game.NumberOfColumns; colIndex++)
                    {
                        int y = colIndex;

                        <div class="vertContainer" data-coord="1,@x,@y" style="background-color: @gameEngine.GameBoard.Lines[gameEngine.VerticalLineDirection, x, y].GameColour" @onclick="@(() => LineClicked(gameEngine.GameBoard.Lines[gameEngine.VerticalLineDirection, x, y]))" @onmouseover="@(() => LineMouseAction(gameEngine.GameBoard.Lines[gameEngine.VerticalLineDirection, x, y], true))" @onmouseout="@(() => LineMouseAction(gameEngine.GameBoard.Lines[gameEngine.VerticalLineDirection, x, y], false))"></div>
                        @if (colIndex < gameEngine.GameBoard.Game.NumberOfColumns - 1)
                        {
                            <div class="box" id="@BoxID(gameEngine.GetBoxNumber(x, y), x, y)" style="background-color: @gameEngine.GetBoxColour(x, y)"></div>
                        }
                    }
                </div>
            }
        }
    }
</div>

@code {

    private GameEngine gameEngine;

    private string DotID(int rowIndex, int colIndex) => $"{Enums.Shape.Dot}{rowIndex},{colIndex}";

    private string BoxID(int boxNumber, int rowIndex, int colIndex) => $"{Enums.Shape.Box}{boxNumber},{rowIndex},{colIndex}";

    protected override void OnInitialized()
    {
        gameEngine = new GameEngine();
    }

    private async Task LineClicked(Line line)
    {
        await gameEngine.DrawLine(line);
    }

    private void LineMouseAction(Line line, bool mouseOver)
    {
        if (gameEngine.GameBoard == null || gameEngine.GameBoard.GameStatus == Enums.GameStatus.Game_Over)
        {
            return;
        }

        if (line.LineClicked)
        {
            return;
        }

        line.GameColour = mouseOver ? Enums.GameColour.Grey : Enums.GameColour.White;
    }

    private void NewGame()
    {
        gameEngine.ResetGame();
    }
}
